<!Doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
</head>

<body>
    <h1>Tattoo appointment request confirmed!</h1>
    <p>
        <%= reservation.artist.studio %>
    </p>
    <p>
        <%= reservation.artist.name %>
    </p>
</body>

</html>