<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12" style="width: 95%;">
            <h3 class="confirmation-header">Tattoo appointment request confirmed!</h3>
            <h3 class="confirmation-header">An email to connect you with your artist is on the way!</h3>
            <img class="mx-auto d-block" src="https://tattoo-rez-assets.s3.amazonaws.com/tattoo_phone.png" height="400">
            <br>
            <div style="text-align: center;">
                <p style="display: flex; align-items: center; margin-left: 30%;">
                    <span class="location-icon"></span>
                    <span style="margin-left: 5px;">
                        <%= @reservation.artist.studio %>
                    </span>
                </p>
                <p style="display: flex; align-items: center; margin-left: 30%;">
                    <span class="leaf-icon"></span>
                    <span style="margin-left: 5px;">
                    <%= @reservation.artist.name %>
                </span>
                </p>
                <p style="display: flex; align-items: center; margin-left: 30%;">
                    <span class="calendar-icon"></span>
                    <span style="margin-left: 5px;">
                    <%= @reservation.appt_start %> to
                        <%= @reservation.appt_end %>
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>