<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6 text-center">
            <h3 class="confirmation-header">Tattoo appointment request confirmed!</h3>
            <h3 class="confirmation-header">An email to connect you with your artist is on the way!</h3>
            <img class="mx-auto d-block" src="https://tattoo-rez-assets.s3.amazonaws.com/tattoo_phone.png" height="400">
            <br>
            <p>
                <%= @reservation.artist.studio %>
            </p>
            <p>
                <%= @reservation.artist.name %>
            </p>
            <p>
                Date availability:
                <%= @reservation.appt_start %> to
                    <%= @reservation.appt_end %>
            </p>
        </div>
    </div>
</div>