.nav-bar {
    height: 100px;
    margin: auto;
}

.header-img {
    width: 80px;
    margin-left: calc(50% - 215px / 2);
}

#nav-bar-menu {
    color: black;
    display: inline;
    text-decoration: none;
}