<div class="container" style="min-height: 100%;">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12" style="width: 95%;">
            <div style="text-align: center; margin-top: 30%;">
                <h3>Thank you for your submission! Please check email for next steps.</h3>
            </div>
        </div>
    </div>
</div>