.card-text {
    color: white;
    margin-left: 10px;
    ;
}

.explore-artist {
    background-color: white;
    color: black;
    text-decoration: none;
}

.explore-artist:hover {
    color: black;
}