<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <%= link_to root_path do %>
                <img class="header-icons" src="<%= image_url('x.svg') %>">
                <% end %>
                    <div style="margin-left: 20px; margin-top: 100px;">
                        <p>MEMBERSHIP</p>
                        <p>BOOK A TATTOO</p>
                        <p>AMBASSADOR</p>
                        <p>INGREDIENTS</p>
                        <p>WHOLESALE</p>
                        <p>LOCATIONS</p>
                    </div>
        </div>
    </div>
</div>